html {
    font-size: 17px;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    margin: 0;
    background-color: aliceblue;
    color: black;
}

header {
    background: linear-gradient(to right, #141843, #273094);
    text-align: center;
    padding: 20px 20px 35px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header img {
    float: left;
    padding-left: 2rem;
}

nav {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
}

#episodios {
    color: white;
}

#acercadma {
    color: white;
    margin: 10rem;
}

#nosotros {
    color: white;
    margin-right: 5rem;
}

a {
    text-decoration: none;
}

a:link {
    color: #8fa3b3; 
}

a:visited {
    color: #9ab1fb; 
}

a:hover {
    color: #5f7cdb; 
}

a:active {
    color: #e33b3b;
}